extends layout

block content
  h1 Books
  form(action="/books/search/")
    input.search-input(type="search" name="term" placeholder="Search...")
    input.search-submit(type="submit" value="🔍")
  p
    a.button(href="/books/new") Create New Books
  table
    thead 
      tr 
        th title
        th author
        th genre 
        th year
    tbody 

      each book in bookResults.results 
        tr 
          td
            a(href="/books/" + book.id)= book.title
          td= book.author
          td= book.genre
          td= book.year
  form(action=`/books/?page=${bookResults.prev.page}&limit=${bookResults.prev.limit}`)
    button(type="submit") Prev
  form(action=`/books/?page=${bookResults.next.page}&limit=${bookResults.next.limit}`)
    button(type="submit") Next